/* static/styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(215, 218, 223);
    margin: 20px;
}

h1{
    text-align: center;
    margin-top: 40px;
}

.please-log-in {
    text-align: center;
    margin-top: 40px;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

/* styles for the auth forms */
.auth-forms {
    display: flex;
    justify-content: center;
}

.Login-Register{
    text-align: center;
}

.login-form, .register-form {
    /* Add styles... */
    display: inline-block;
    width: 40%; 
}

.logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    width: 100px;
}

.logout button{
    margin-left: 10px;
    background-color: rgb(4, 0, 255);
    width: 80px;
}

#avalable-categories {
    display: grid;
    grid-template-columns: 200px 50px;
    justify-items: center;
    align-items: center;
}

.create-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-content {
    font-weight: bold;
}

.posts-container {
    display: flex;
    flex-flow: column;
}

/* the style for posts */
.post {
    flex: 0 0 calc(23.333% - 20px);
    padding: 10px;
    border: 1px solid #a7a6a6;
    margin-bottom: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

/* the hover effect */
.post:hover {
    background-color: #f0f0f0;
}

#interactions {
    width: 50%;
    display: grid;
    grid-template-columns: 95px 300px;
    justify-items: normal;
    align-items: center;
}

.interaction-button, .interaction-count {
    width: 30%;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: blueviolet;
}

#commentDetails {
    margin-top: 50px;
    margin-left: 100px;

}

.interactions {
    width: 20%;
    display: grid;
    grid-template-columns: 70px 300px;
    justify-items: normal;
    align-items: center;
    background-color: blue;
}

.comm-interaction-button {
background-color: rgb(243, 137, 55);
color: white;
padding: 8px;
border: none;
width: 55px;
cursor: pointer;
}

textarea {
    margin-top: 10px;
    width: 350px;
}

input {
    width: 350px;
    margin-bottom: 10px;
    line-height: 24px;
}

form {
    width: 350px;
    margin: 0 auto;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    width: 150px;
    cursor: pointer;
}

button.interaction-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    width: 75px;
    cursor: pointer;
}

button.add-comment {
    background-color: rgb(243, 137, 55);
    color: white;
    padding: 8px;
    border: none;
    width: 105px;
    cursor: pointer;
}