<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Forum</title>
</head>
<body>
    <h1>Welcome to the Forum</h1>

    {{if .IsLoggedIn}}
        <div class="logout">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>

        <!-- Post creation form or users who are logged in-->
        <h2>Create a Post</h2>
        <form action="/create-post" method="post">
            <label for="title"></label>
            <input type="text" id="title" name="title" placeholder="post title" required>

            <label for="category">Category:</label>
            <select id="categories" name="categories[]" multiple required>
                <option value="food">Food</option>
                <option value="politics">Politics</option>
                <option value="sport">Sport</option>
                <option value="tech">Tech</option>
            </select>
            
            <label for="content"></label>
            <textarea id="content" name="content" rows="6" placeholder="post content" required></textarea>
            <button type="submit">Create Post</button>
        </form>

        <!-- Display posts for users who are logged in -->
        {{range .Posts}}
            <div class="posts-container">
                <div class="post" id="post-{{.ID}}">
                    <h3><a href="/post/{{.ID}}">{{.Title}}</a></h3>
                    <p>Category:
                        {{range $index, $category := .Categories}}
                            {{if $index}}, {{end}}
                            {{$category}}
                        {{end}}
                    </p>
                    <p>Post: {{.Content}}</p>
                    <p>Created at: {{.CreatedAt}}</p>
                    
                        <!-- Like and Dislike buttons for posts -->
                        <div class="interactions">
                            <span class="like-span">
                                <form action="/like/{{.ID}}" method="post">
                                    <button type="submit">Like</button>
                                </form>
                                {{.LikesCount}}
                            </span>
                            <span class="dislike-span"> 
                                <form action="/dislike/{{.ID}}" method="post">
                                    <button type="submit">Dislike</button>
                                </form>
                                {{.DislikesCount}}
                            </span>
                        </div>
                    {{range .Comments}}
                        <div class="comment" id="comment-{{.ID}}">
                            <p>Comment: {{.Content}}</p>
                            <p>Created at: {{.CreatedAt}}</p>
                            <p>Likes: {{.LikesCount}}, Dislikes: {{.DislikesCount}}</p>
                            <!-- Like and Dislike buttons for comments -->
                            <form action="/like-comment/{{.ID}}" method="post">
                                <button type="submit">Like</button>
                            </form>
                            <form action="/dislike-comment/{{.ID}}" method="post">
                                <button type="submit">Dislike</button>
                            </form>
                        </div>
                    {{end}}
            
                    <!-- Comment creation form -->
                    <h5>Add Comment</h5>
                    <form action="/add-comment/{{.ID}}" method="post">
                        <label for="commentContent"></label>
                        <textarea id="commentContent" name="commentContent" rows="3" placeholder="type your comment" required></textarea>
                        <button type="submit">Add Comment</button>
                    </form>
                </div>     
            </div>
        {{end}}   

    {{else}}
        <div class="please-log-in"><p>You are not logged in. Please log in or register.</p></div>
        <div class="auth-forms">
            <div class="login-form">
                <div class="Login-Register"><h2>Login</h2></div>
                <form action="/login" method="post">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
            
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
            
                    <button type="submit">Login</button>
                </form>
            </div>    
            <div class="register-form">
                <div class="Login-Register"><h2>Register</h2></div>
                <form action="/register" method="post">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
            
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
            
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
            
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>

        <!-- Display posts for users who are not logged in -->
        <div class="posts-container">
            {{range .Posts}}
                <div class="post">
                    <h3><a href="/post/{{.ID}}">{{.Title}}</a></h3>
                    <p>Category: {{range .Categories}}{{.}}, {{end}}</p>
                    <p>Post: {{.Content}}</p>
                    <p>Created at: {{.CreatedAt}}</p>
                    <p>Likes: {{.LikesCount}}, Dislikes: {{.DislikesCount}}</p>
                    {{range .Comments}}
                        <div>
                            <p>Comment: {{.Content}}</p>
                            <p>Created at: {{.CreatedAt}}</p>
                            <p>Likes: {{.LikesCount}}, Dislikes: {{.DislikesCount}}</p>
                        </div>
                    {{end}}
                </div>          
            {{end}}
    {{end}}
</body>
</html>
